body, nav, main {
    margin: 0;
    padding: 0;
    font-family: "open sans";
    font-size: larger;
  }
  
  body {
    background-color: rgba(132, 107, 122, 0.6);
  }
  .menu ul {
    background-color: rgba(80, 18, 55, 0.6);
    margin: 0;
    padding: 30px 0;
    list-style-type: none; /* tira estilo de lista*/
    text-align: end; /* coloca os itens no fim da pagina*/
  }
  .menu ul li{
    display: inline-block;
    margin: 0 20px;
  }
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .principal {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: CENTER;
    background-color:#EDEAEA;
  }
  
  #titulo {
    color:rgba(80, 18, 55) ;
    font-size: 36px;
  }

  #HISTORIAS {
    color: rgb(68, 13, 73);
    text-align: center;
    align-items: center;
    justify-content: CENTER;
  }

  #CLIENTES {
    color: rgb(68, 13, 73);
    text-align: center;
    align-items: center;
    justify-content: CENTER;
    padding: 30px;
  }

  #STREETPHOTOGRAPHY {
    color: rgb(68, 13, 73);
    text-align: center;
    align-items: center;
    justify-content: CENTER;
    padding: 40px
  }

  .rodape ul {
    background-color: rgba(80, 18, 55);
    color: white;
    margin: 0;
    padding: 30px 0;
    list-style-type: none; /* tira estilo de lista*/
    text-align: center;
  }

  #CONTATO {
      background-color: rgba(80, 18, 55);
      color: white;
      margin: 0;
      padding: 20px 0;
      list-style-type: none; /* tira estilo de lista*/
      text-align: center;
    }

